/* Enter your custom styles here *//* Enter your custom styles here */
.sapMITBContainerContent{
    display: none;
}
.customInput .sapMInputBaseContentWrapper{
    height: 2.5rem !important;
    }
.customInput .sapMInputBase{
    height: 2.5rem !important;
    }
.customInput .sapMInputBaseInner {
    font-size: 1.5rem !important;
}

.cashierLogin {
    letter-spacing: 0.14px !important;
    color: #000000 !important;
    font-size: 17px !important;
   
}
.customInputHeight {
  height: 3rem !important;
  font-size: 1.2rem !important;
}
.sapMDialog>header .sapMDialogTitleGroup .sapMTitle {
    color: black !important;
    font-weight: bold !important;
    font-size: 17px !important;
}


.sapUiFormResGrid>div {
    background-color: #c8d9e6 !important; 

}
#__dialog1-cont {
    background-color: #c8d9e6 !important; 
}
.cstmBtn .sapMBtnInner {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #0070b1 !important;
    font-size: 18px !important;
    color: #ffffff !important;
    border-color: #e3e3e3d6 !important;
    text-shadow: 0 0 0.125rem #000;
}
.noPaddingPage .sapMPageSection {
    padding: 0 !important;
}
.noPaddingPage .sapMPageContent {
    padding: 0 !important;
}
.roundedList {
    background: transparent;
    border: none;
}

/* Make each list item rounded */
.roundedList .sapMLIB {
    margin: 8px;
    padding: 0px;
    background: #f9f9f9; /* light background */
    border-radius: 12px; /* rounded corners */
    box-shadow: 0 0px 0px rgba(0,0,0,0); /* light shadow */
    font-size: 17px !important;
    font-weight: bold !important;
}

/* Optional: When hovering over list item */
.roundedList .sapMLIB:hover {
    background: #e0f7fa; /* light hover color */
}

html.sap-desktop .sapMITBFilter .sapMITBCount {
    font-size: .975rem !important;
}

.sapMITH {
    
    font-size: 0.5 !important;

}
.sapMITBFilter .sapMITBText .sapMITHTextContent {
    
    font-size: 1rem !important;
    color: #000000 !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.sapUiTableHeaderDataCell .sapMText, .sapMColumnHeader .sapMText {
    font-size: 17px !important;
    font-weight: bold !important;
}

.customTile {
    font-weight: bold !important;
    border-radius: 12px !important; /* rounded corners */
    text-align: center !important;
    background-color:  #a6b7c3 !important;
}
.customTileCust{
    font-weight: bold !important;
    border-radius: 8px !important; /* rounded corners */
    text-align: center !important;
    background-color:  #a6b7c3 !important;
    height: 4rem !important;
}

.sapMGTHdrTxt>.sapMText {
    font-weight: bold !important;
    font-size: 15px !important;
    
}

.cstmHBox {
    display: contents !important;
    background-color: #929da5 !important;
}


.inputStyle .sapMInputBaseInner {
   
    border: 0px solid #c2c7cb4a !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMInputBaseContentWrapper {
    border-radius: 2px;
    font-size: 1rem !important;
    height: 2.5rem !important;
    /* border: 1px solid #bfbfbf;  */
}

.inputStyle .sapMInputBaseIcon {
    background: #fafafa !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
    box-sizing: border-box !important;
    border: 1px solid black !important;
}

.inputStyle.sapMInputBaseIconPressed .sapMInputBaseIcon::before {
    color: #062646 !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMCbBg.sapMCbMarkChecked {
    background-color: #062646;
    border: solid .125rem #062646;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMCbBg.sapMCbMarkChecked:before {
    background-color: #062646 !important;
    color: #fff !important;
    font-size: 1rem !important;
    height: 2.5rem !important;

}

.inputStyle .sapMRbSel .sapMRbBInn {
    fill: #062646;
    font-size: 1rem !important;
    height: 2.5rem !important;
}
.sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 1rem !important;
}

.sapUiSizeCompact .sapMSLITitle, .sapUiSizeCompact .sapMSLITitleOnly {
    font-size: 1rem !important;
}
.sapMSFI[type='search'] {
    font-size: 1rem !important;
}
.sapMInputBaseInner {
    font-size: 1rem !important;
}
.sapUiSizeCompact .sapMSFF {
    height: 2rem !important;
   
}
.sapMLabel {
    color: black !important;
    font-size: 1rem !important;
    font-family: sans-serif !important;
   
}
/* .sapUiSizeCompact .sapMSlt {
    height: 2.5rem !important;
} */
.largeValidateButton .sapMBtnInner {
    height: 3rem !important;
    padding: 0 1.5rem !important;
    font-size: 1.2rem !important;
}

.largeValidateButton .sapMBtnIcon {
    font-size: 1.5rem !important;
}

.boldText{
    font-weight: bold !important;
}

div[id*="custMobCode-popup"] {
  margin-top: 25px !important;
  box-shadow: none !important;

}
.page {
    background-color: #c8d9e6 !important;

}
.customerDialog {
    letter-spacing: 0.14px !important;
    color: #000000 !important;
    font-size: 17px !important;
   
}
.lstBackground {
     background-color: #c8d9e6 !important; 
}
.customerDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.stockDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.paymentDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.discountDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.suspendDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
#__bar0--header {
     background-color: #c8d9e6 !important;
}
html.sap-desktop .sapMITBFilter .sapMITBCount {
    color: #151b30 !important;
    font-family: var(--sapFontFamily) !important;
    font-size: 1rem !important;
}
#application-comerossalesprocess-display-component---MainView--stocksgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--customergt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--discountgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--warrantygt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--paymentsgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--suspendgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

.customTableHeader .sapMListTblHeader {
    background-color: #0812db !important; /* light blue */
}

.customTableHeader .sapMListHdrText {
    background-color: #f2f7f1 !important;
    font-weight: bold;
}

.sapMTableTH {
    background: #2f4156 !important;
    
}
.sapUiTableHeaderDataCell .sapMText, .sapMColumnHeader .sapMText {
    color: white !important;
}

.sapMGTHdrIconImage {
    color: #1f2123 !important;
}
/* .sapUiSizeCompact .sapMSlt>.sapMSltArrow {
    line-height: 2.5rem !important;
} */
.signaturePad {
  border: 2px solid #050202 !important;
  border-radius: 5px !important;
}
.stickyHeaderBox {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.5rem;
    background-color: #2f4156 !important ;
   
    
}
.whiteLabel {
     color: #eadf05 !important; 
}
.whiteLabelNumber {
     color: #eadf05 !important; 
     font-weight: bold !important;
     font-size: 17px !important;
}
#__form0--FC-NoHead--Grid {
    background-color:  #c8d9e6 !important;
}
#__panel0-content {
     background-color:  #c8d9e6 !important;
}
#__panel1-content{
     background-color:  #c8d9e6 !important;
}
#__panel2-content{
     background-color:  #c8d9e6 !important;
}
#__panel3-content{
     background-color:  #c8d9e6 !important;
}
#__panel4-content{
     background-color:  #c8d9e6 !important;
}
#__panel5-content{
     background-color:  #c8d9e6 !important;
}
#__panel5-content{
     background-color:  #c8d9e6 !important;
}
#__panel6-content{
     background-color:  #c8d9e6 !important;
}
#__panel8-content{
     background-color:  #c8d9e6 !important;
}
#__panel9-content{
     background-color:  #c8d9e6 !important;
}
#__panel7-content{
     background-color:  #c8d9e6 !important;
}
#__panel10-content {
     background-color:  #c8d9e6 !important;
}
#__panel11-content {
     background-color:  #c8d9e6 !important;
}
#__panel12-content {
     background-color:  #c8d9e6 !important;
}
#__panel13-content {
     background-color:  #c8d9e6 !important;
}
#__panel14-content {
     background-color:  #c8d9e6 !important;
}
#__panel15-content {
     background-color:  #c8d9e6 !important;
}
#__panel16-content {
     background-color:  #c8d9e6 !important;
}
#__panel17-content {
     background-color:  #c8d9e6 !important;
}
#__panel18-content {
     background-color:  #c8d9e6 !important;
}
#__panel19-content {
     background-color:  #c8d9e6 !important;
}
#__panel20-content {
     background-color:  #c8d9e6 !important;
}
.sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 1rem !important;
    color: white !important;
}
.sapUiSizeCompact .sapMSFF {
    height: 2.5rem !important;
}

.sapUiSizeCompact .sapMSFB {
    margin-top: 8px !important;
}
.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 17px !important;
    font-weight: bold !important;
    color: #000000 !important;
}
.sapUiSizeCompact.sapMDialog>.sapMDialogSection, .sapUiSizeCompact .sapMDialog>.sapMDialogSection{
     background-color:  #c8d9e6 !important;
}
.sapUshellShellHeadItm{
    display : none !important;
}
.customScrollContainer {
  overflow-y: auto !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* Ensures momentum scroll on iOS/Android */
  scrollbar-width: auto; /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
}

.customScrollContainer::-webkit-scrollbar {
  width: 20px; /* Adjust to make it thicker */
}

.customScrollContainer::-webkit-scrollbar-thumb {
  background-color: #888;       /* Scrollbar color */
  border-radius: 6px;           /* Rounded thumb */
  border: 3px solid #f1f1f1;    /* Optional padding around thumb */
}

.customScrollContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;    /* Track background */
}

.sapMInputSuggestionPopup .sapMPopoverCont,
.sapMInputSuggestionTable {
    -webkit-overflow-scrolling: touch !important;
    overflow-y: auto !important;
}

/* Make scrollbar always visible on mobile */
.sapMInputSuggestionPopup .sapMListUl {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.customInputWithScroll .sapMInputSuggestionPopup {
    max-height: 400px !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.noPanelPadding .sapMPanelContent {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.sapMPanelBGTranslucent {
    background-color: #c8d9e6 !important; 

}




.sapMITBContainerContent{
    display: none;
}
.customInput .sapMInputBaseContentWrapper{
    height: 2.5rem !important;
    }
.customInput .sapMInputBase{
    height: 2.5rem !important;
    }
.customInput .sapMInputBaseInner {
    font-size: 1.5rem !important;
}

.cashierLogin {
    letter-spacing: 0.14px !important;
    color: #000000 !important;
    font-size: 17px !important;
   
}
.customInputHeight {
  height: 3rem !important;
  font-size: 1.2rem !important;
}
.sapMDialog>header .sapMDialogTitleGroup .sapMTitle {
    color: black !important;
    font-weight: bold !important;
    font-size: 17px !important;
}


.sapUiFormResGrid>div {
    background-color: #c8d9e6 !important; 

}
#__dialog1-cont {
    background-color: #c8d9e6 !important; 
}
.cstmBtn .sapMBtnInner {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #0070b1 !important;
    font-size: 18px !important;
    color: #ffffff !important;
    border-color: #e3e3e3d6 !important;
    text-shadow: 0 0 0.125rem #000;
}
.noPaddingPage .sapMPageSection {
    padding: 0 !important;
}
.noPaddingPage .sapMPageContent {
    padding: 0 !important;
}
.roundedList {
    background: transparent;
    border: none;
}

/* Make each list item rounded */
.roundedList .sapMLIB {
    margin: 8px;
    padding: 0px;
    background: #f9f9f9; /* light background */
    border-radius: 12px; /* rounded corners */
    box-shadow: 0 0px 0px rgba(0,0,0,0); /* light shadow */
    font-size: 17px !important;
    font-weight: bold !important;
}

/* Optional: When hovering over list item */
.roundedList .sapMLIB:hover {
    background: #e0f7fa; /* light hover color */
}

html.sap-desktop .sapMITBFilter .sapMITBCount {
    font-size: .975rem !important;
}

.sapMITH {
    
    font-size: 0.5 !important;

}
.sapMITBFilter .sapMITBText .sapMITHTextContent {
    
    font-size: 1rem !important;
    color: #000000 !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.sapUiTableHeaderDataCell .sapMText, .sapMColumnHeader .sapMText {
    font-size: 17px !important;
    font-weight: bold !important;
}

.customTile {
    font-weight: bold !important;
    border-radius: 12px !important; /* rounded corners */
    text-align: center !important;
    background-color:  #a6b7c3 !important;
}
.customTileCust{
    font-weight: bold !important;
    border-radius: 8px !important; /* rounded corners */
    text-align: center !important;
    background-color:  #a6b7c3 !important;
    height: 4rem !important;
}

.sapMGTHdrTxt>.sapMText {
    font-weight: bold !important;
    font-size: 15px !important;
    
}

.cstmHBox {
    display: contents !important;
    background-color: #929da5 !important;
}


.inputStyle .sapMInputBaseInner {
   
    border: 0px solid #c2c7cb4a !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMInputBaseContentWrapper {
    border-radius: 2px;
    font-size: 1rem !important;
    height: 2.5rem !important;
    /* border: 1px solid #bfbfbf;  */
}

.inputStyle .sapMInputBaseIcon {
    background: #fafafa !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
    box-sizing: border-box !important;
    border: 1px solid black !important;
}

.inputStyle.sapMInputBaseIconPressed .sapMInputBaseIcon::before {
    color: #062646 !important;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMCbBg.sapMCbMarkChecked {
    background-color: #062646;
    border: solid .125rem #062646;
    font-size: 1rem !important;
    height: 2.5rem !important;
}

.inputStyle .sapMCbBg.sapMCbMarkChecked:before {
    background-color: #062646 !important;
    color: #fff !important;
    font-size: 1rem !important;
    height: 2.5rem !important;

}

.inputStyle .sapMRbSel .sapMRbBInn {
    fill: #062646;
    font-size: 1rem !important;
    height: 2.5rem !important;
}
.sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 1rem !important;
}

.sapUiSizeCompact .sapMSLITitle, .sapUiSizeCompact .sapMSLITitleOnly {
    font-size: 1rem !important;
}
.sapMSFI[type='search'] {
    font-size: 1rem !important;
}
.sapMInputBaseInner {
    font-size: 1rem !important;
}
.sapUiSizeCompact .sapMSFF {
    height: 2rem !important;
   
}
.sapMLabel {
    color: black !important;
    font-size: 1rem !important;
    font-family: sans-serif !important;
   
}
/* .sapUiSizeCompact .sapMSlt {
    height: 2.5rem !important;
} */
.largeValidateButton .sapMBtnInner {
    height: 3rem !important;
    padding: 0 1.5rem !important;
    font-size: 1.2rem !important;
}

.largeValidateButton .sapMBtnIcon {
    font-size: 1.5rem !important;
}

.boldText{
    font-weight: bold !important;
}

div[id*="custMobCode-popup"] {
  margin-top: 25px !important;
  box-shadow: none !important;

}
.page {
    background-color: #c8d9e6 !important;

}
.customerDialog {
    letter-spacing: 0.14px !important;
    color: #000000 !important;
    font-size: 17px !important;
   
}
.lstBackground {
     background-color: #c8d9e6 !important; 
}
.customerDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.stockDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.paymentDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.discountDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
.suspendDialog .sapMDialogSection{
    background-color: #c8d9e6 !important; 
}
#__bar0--header {
     background-color: #c8d9e6 !important;
}
html.sap-desktop .sapMITBFilter .sapMITBCount {
    color: #151b30 !important;
    font-family: var(--sapFontFamily) !important;
    font-size: 1rem !important;
}
#application-comerossalesprocess-display-component---MainView--stocksgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--customergt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--discountgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--warrantygt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--paymentsgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

#application-comerossalesprocess-display-component---MainView--suspendgt-title-inner {
text-align: center !important;
margin-top: 15px !important;
}

.customTableHeader .sapMListTblHeader {
    background-color: #0812db !important; /* light blue */
}

.customTableHeader .sapMListHdrText {
    background-color: #f2f7f1 !important;
    font-weight: bold;
}

.sapMTableTH {
    background: #2f4156 !important;
    
}
.sapUiTableHeaderDataCell .sapMText, .sapMColumnHeader .sapMText {
    color: white !important;
}

.sapMGTHdrIconImage {
    color: #1f2123 !important;
}
/* .sapUiSizeCompact .sapMSlt>.sapMSltArrow {
    line-height: 2.5rem !important;
} */
.signaturePad {
  border: 2px solid #050202 !important;
  border-radius: 5px !important;
}
.stickyHeaderBox {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.5rem;
    background-color: #2f4156 !important ;
   
    
}
.whiteLabel {
     color: #eadf05 !important; 
}
.whiteLabelNumber {
     color: #eadf05 !important; 
     font-weight: bold !important;
     font-size: 17px !important;
}
#__form0--FC-NoHead--Grid {
    background-color:  #c8d9e6 !important;
}
#__panel0-content {
     background-color:  #c8d9e6 !important;
}
#__panel1-content{
     background-color:  #c8d9e6 !important;
}
#__panel2-content{
     background-color:  #c8d9e6 !important;
}
#__panel3-content{
     background-color:  #c8d9e6 !important;
}
#__panel4-content{
     background-color:  #c8d9e6 !important;
}
#__panel5-content{
     background-color:  #c8d9e6 !important;
}
#__panel5-content{
     background-color:  #c8d9e6 !important;
}
#__panel6-content{
     background-color:  #c8d9e6 !important;
}
#__panel8-content{
     background-color:  #c8d9e6 !important;
}
#__panel9-content{
     background-color:  #c8d9e6 !important;
}
#__panel7-content{
     background-color:  #c8d9e6 !important;
}
#__panel10-content {
     background-color:  #c8d9e6 !important;
}
#__panel11-content {
     background-color:  #c8d9e6 !important;
}
#__panel12-content {
     background-color:  #c8d9e6 !important;
}
#__panel13-content {
     background-color:  #c8d9e6 !important;
}
#__panel14-content {
     background-color:  #c8d9e6 !important;
}
#__panel15-content {
     background-color:  #c8d9e6 !important;
}
#__panel16-content {
     background-color:  #c8d9e6 !important;
}
#__panel17-content {
     background-color:  #c8d9e6 !important;
}
#__panel18-content {
     background-color:  #c8d9e6 !important;
}
#__panel19-content {
     background-color:  #c8d9e6 !important;
}
#__panel20-content {
     background-color:  #c8d9e6 !important;
}
.sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 1rem !important;
    color: white !important;
}
.sapUiSizeCompact .sapMSFF {
    height: 2.5rem !important;
}

.sapUiSizeCompact .sapMSFB {
    margin-top: 8px !important;
}
.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 17px !important;
    font-weight: bold !important;
    color: #000000 !important;
}
.sapUiSizeCompact.sapMDialog>.sapMDialogSection, .sapUiSizeCompact .sapMDialog>.sapMDialogSection{
     background-color:  #c8d9e6 !important;
}
.sapUshellShellHeadItm{
    display : none !important;
}
.customScrollContainer {
  overflow-y: auto !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* Ensures momentum scroll on iOS/Android */
  scrollbar-width: auto; /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
}

.customScrollContainer::-webkit-scrollbar {
  width: 20px; /* Adjust to make it thicker */
}

.customScrollContainer::-webkit-scrollbar-thumb {
  background-color: #888;       /* Scrollbar color */
  border-radius: 6px;           /* Rounded thumb */
  border: 3px solid #f1f1f1;    /* Optional padding around thumb */
}

.customScrollContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;    /* Track background */
}

.sapMInputSuggestionPopup .sapMPopoverCont,
.sapMInputSuggestionTable {
    -webkit-overflow-scrolling: touch !important;
    overflow-y: auto !important;
}

/* Make scrollbar always visible on mobile */
.sapMInputSuggestionPopup .sapMListUl {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.customInputWithScroll .sapMInputSuggestionPopup {
    max-height: 400px !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.noPanelPadding .sapMPanelContent {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.sapMPanelBGTranslucent {
    background-color: #c8d9e6 !important; 

}





.fullPageBackground {
    background-color: #c8d9e6 !important;
}

.smallCombo {
    width: 50px !important;
}

.trnSmallWidth {
    width: 40% !important;
}

/* Small Form Style */
.smallForm .sapMLabel,
.smallForm .sapMText,
.smallForm .sapMInputBaseInner,
.smallForm .sapMComboBoxTextField,
.smallForm .sapMSelectList,
.smallForm .sapMInputBaseContentWrapper {
    font-size: 0.8rem !important;
    font-weight: normal !important;
}

/* Reduce Input Height */
.smallForm .sapMInputBaseContentWrapper {
    height: 1.8rem !important;
}

.smallForm .sapMInputBaseInner {
    height: 1.8rem !important;
    padding: 0 0.4rem !important;
}

/* Reduce Select / Combo height */
.smallForm .sapMSlt {
    height: 1.8rem !important;
}

.smallForm .sapMSlt>.sapMSltArrow {
    line-height: 1.8rem !important;
}









